body {
    background-image: url("img/bg1.jpg");
}

h2 {
    margin-top: 8%;
    margin-left: 26%;
    margin-right: 20%;
    font-size: 30px;
    border-radius: 2cm;
    padding: 1%;
    border: none;
    background-color: white;
    color: #2e4553;
}

h2:hover {
    background-color: #fff9d4;
    color: #2e4553;
}

#taskInput {
    margin-top: 1%;
    margin-left: 30%;
    font-size: 25px;
    width: 500px;
    border-radius: 2cm;
    padding: 1%;
    border: none;
    background-color: white;
    color: #2e4553;
}

#taskInput::placeholder {
    color: #2e4553;
}

#add {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 25px;
    padding: 1%;
    border-radius: 2cm;
    border: none;
    background-color: white;
    color: #2e4553;
}

#taskInput:hover {
    background-color: #fff9d4;
    color: #2e4553;
}

#add:hover {
    background-color: #fff9d4;
    color: #2e4553;
}
.item{
    margin-top: 2%;
    margin-left: 35%;
    width: 500px;
    height: fit-content;
    font-size: 30px;
    padding: 1%;
    border: none;
    background-color: white;
    color: #2e4553;
}
.input-controller:hover {
    background-color: #fff9d4;
    color: #2e4553;
}
.update-controller:hover {
    background-color: #fff9d4;
    color: #2e4553;
}
.item:hover{
    background-color: #fff9d4;
    color: #2e4553;
} 


textarea{
    padding: 1%;
    font-size: 20px;;
    border:none;
    resize: none;
    background: transparent;
    width: 60%;
    height: fit-content;
}
.input-controller{
    height: fit-content;
}
.edit-controller{
    float: right;
    height: fit-content;
    display: flex;
}
.deleteBtn{
    font-size: 20px;
    border: none;
    color: #2e4553;
    background: transparent;
    cursor: pointer;
}
.editBtn{
    margin-left: 2%;
    font-size: 20px;
    border: none;
    padding: 0%;
    border: none;
    background: transparent;
    color: #2e4553;
    cursor: pointer;
}
.saveBtn{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    padding: 1%;
    border: none;
    background: transparent;
    color: #2e4553; 
    cursor: pointer;
}
.cancelBtn{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    padding: 1%;
    border: none;
    background: transparent;
    color: #2e4553;
    cursor: pointer;
}
@media (max-width: 400px) {
    #taskInput {
        margin-top: 1%;
        display:block;
        margin: auto;
        font-size: 20px;
        width: 350px;
        padding: 1%;
        border: none;
        background-color: white;
        color: #2e4553;
    } 
    #taskInput::placeholder {
        color: #2e4553;
        text-align: center;
    }
    
    h2 {
        margin: auto;
        display: block;
        margin-top: 8%;
        margin-bottom: 8% !important;
    }

    h2 span{
        display:block;
        margin-top: 8%;
        margin: auto;
        font-size: 20px;
        border-radius: 2cm;
        border: none;
        background-color: white;
        color: #2e4553;
        text-align: center;
    }
    #add {
        margin-top: 8% !important;
        display:block;
        font-size: 20px;
        width: 200px;
        margin: auto;
        border-radius: 2cm;
        border: none;
        background-color: white;
        color: #2e4553;
    }
    
    .item{
        margin-top: 8%;
        margin-left: 15%;
        width: 250px;
        height: fit-content;
        font-size: 20px;
        padding: 1%;
        border: none;
        background-color: white;
        color: #2e4553;
    }

    textarea{
        padding: 1%;
        font-size: 15px;
        border:none;
        resize: none;
        background: transparent;
        width: 60%;
        height: fit-content;
    }
    .input-controller{
        height: fit-content;
    }
    .edit-controller{
        float: right;
        height: fit-content;
        display: flex;
    }
    .deleteBtn{
        font-size: 15px;
        border: none;
        color: #2e4553;
        background: transparent;
        cursor: pointer;
    }
    .editBtn{
        margin-left: 2%;
        font-size: 15px;
        border: none;
        padding: 0%;
        border: none;
        background: transparent;
        color: #2e4553;
        cursor: pointer;
    }
    .saveBtn{
        margin-top: 1%;
        margin-left: 2%;
        font-size: 15px;
        padding: 1%;
        border: none;
        background: transparent;
        color: #2e4553; 
        cursor: pointer;
    }
    .cancelBtn{
        margin-top: 1%;
        margin-left: 2%;
        font-size: 15px;
        padding: 1%;
        border: none;
        background: transparent;
        color: #2e4553;
        cursor: pointer;
    }
  }