@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #011925;
    color: #bff0b8;
    padding: 0 50px;
    border-bottom: #bff0b8 2px solid;
  }
  
  .header .nav-logo a {
    font-size: 28px;
    font-weight:1000;
    text-decoration: none;
    cursor: pointer;
    color: #bff0b8;
 }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

.navbar-list a{
    font-size: 22px;
    color: #bff0b8;
    text-decoration: none;
}

.navbar-list button{
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    background-color:white;
    border: none;
    color:#011925;
    border-radius: 20px;
    cursor: pointer;
    
}

.navbar-list button:hover{
    background-color: #011925;
    color: #bff0b8;
    transition: ease-in-out .5s;
    border: #bff0b8 1px solid;
}

.mobile-nav{
    width: 100%;
    display: none;
  }

.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
}      
.nav-links a:hover,.nav-logo:hover {
        color:wheat;
    }
.nav-links button:hover{
        background-color: wheat;
        transition:2s ease all ;
    }
.container:hover{
    border-bottom: 2px solid wheat;
    
}

.hero {
    width: 100%;
    height:calc(100% - 100px);
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-info{
    font-size: 22px;
    font-weight:1000;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden;
    color:#fff;   
}
.hero-info span{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: #bff0b8;
}
.hero-info button{
    width: 200px;
    margin: 30px;
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
    background-color: white;
    border: none;
    color:#011925;
    border-radius: 20px;
    cursor: pointer;
}

.hero-info button:hover{
 background-color: #011925;
 color: #bff0b8;
 transition: ease-in-out .5s;
}

@media (max-width:600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #011925;
        color: #bff0b8;
        padding: 0 20px;
        border-bottom: #bff0b8 2px solid;
      }
      
      .header .nav-logo {
        font-size: 26px;
        font-weight:1000;
        padding-right: 12%;
     }
      
     .navbar {
        width: 100%;
        height: 1000px;
        background: #25343e;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    
        transform: translateX(100%);
        transition: all 0.5s linear;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    
      .navbar-list {
        margin-top: 0%;
        padding-top: 0%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 500px;
      }
      .navbar a{
        margin-top: 4%;
        font-size: 22px;
        font-weight: 500;
      }
    
      .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

    .navbar-list .signIn .LogOut{
        margin-top: 4%;
        width: 200px;
        font-size: 20px;
        font-weight: 500;
        padding: 8px;
        background-color:white;
        border: none;
        color:#011925;
        border-radius: 15px;
        cursor: pointer;
        
    }
    
    .mobile-nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        
      }
    .mobile-nav i[name="open"]{
        font-size: 35px;
        margin-left: 80%;
        display: block;
    
    }
    .mobile-nav i[name="close"]{
        margin-left: 80%;
        font-size: 50px;
        display: none;
    } 
    
    .active .mobile-nav i[name="close"]{
        display: block;
      }
    
      .active .mobile-nav i[name="open"]{
        display: none;
      }
      
    .nav-links{
        display: flex;
        list-style: none;
        align-items: center;
    }   
    
    .hero {
        margin: 0px;
        width: 100%;
    }
    
    .hero img{
        width: 100%;
        height: 1500px;
        object-fit: cover;
    }
    .hero-info{
        font-size: 18px;
        font-weight:800;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        overflow: hidden;
        color:#fff;   
    }
    .hero-info span{
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 5px;
        margin-bottom: 20px;
        color: #bff0b8;
    }
    .hero-info button{
        width: 200px;
        margin: 10px;
        font-size: 18px;
        font-weight: 500;
        padding: 20px;
        background-color: white;
        border: none;
        color:#011925;
        border-radius: 20px;
        cursor: pointer;
    }
    
}