body {
			background-color: #011925;
		}
		h1 {
			color: lightgreen;
			text-align: center;
		}
		p {
			margin: 20px;
			font-size: 18px;
			text-align: justify;
			line-height: 1.5;
		}
		.container {
			max-width: 800px;
			margin: auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
