body {
  font-family: 'Dosis', sans-serif;
  background-color: #fffcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 1400px;
    background-color:#FAE4CF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  button {
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #136055;
  }
    
  .container {
    max-width: 400px;
    margin: auto;
  }
  